header {
  background: #03a9f4;
  color: #fff;
  padding: 24px 0 16px;
  min-height: 190px;

  h1 {
    padding: 16px 24px 24px;
    font-size: 42px;
    display: flex;
    align-items: baseline;
  }

  nav {
    display: flex;
    margin-left: 350px;
    width: calc(100% - 350px);
    padding: 0;
    padding-inline-start: 32px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);

    a {
      color: white;
      opacity: 1;
      margin-inline-end: 32px;
      font-size: 16px;
      padding: 8px;
      cursor: default;

      &.active {
        font-weight: 500;
        border-bottom: 3px solid #fff;
      }

      &.disabled {
        opacity: 0.8;
      }
    }

    .mat-tab-links {
      margin-left: 24px;
    }
  }
}

.profile-data {
  width: 100%;
  display: grid;
  grid-template-columns: 350px 1fr;
}

.loading {
  margin: 32px auto;
  width: 80px;
}
