header {
  background: #03a9f4;
  color: #fff;
  padding: 24px 0 16px;
  min-height: 190px;

  h1 {
    padding: 16px 24px 24px;
    font-size: 42px;
    display: flex;
    align-items: baseline;
  }

  .nav-content {
    margin-left: 350px;
    width: calc(100% - 350px);
    padding-inline-start: 32px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    a {
      color: white;
      opacity: 1;
      .mat-tab-disabled{
        opacity: 0.5;
      }
    }

    .mat-tab-links {
      margin-left: 24px;
    }
  }
}
