table {
  * {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 150px;
  }

  width: 100%;

  th {
    font-weight: 500;
    font-size: 1rem;
    color: #000;

    &.active {
      button {
        color: #3f51b5;
      }
    }

    button {
      font-weight: 500;
      font-size: 1rem;
      background: transparent;
      border: none;
      cursor: pointer;
    }
  }

  td {
    padding-inline-end: 24px;
  }

  .mat-column {
    &-profilePic {
      width: 50px;
      padding: 0 12px;
      text-align: center;
    }

    &-view {
      text-align: end;

      button {
        background-color: transparent;
        border: none;
        cursor: pointer;
      }
    }
  }
}
