<h2>Quick Facts</h2>

<div class="section-header">
  <span>Status</span>
  <mat-icon>launch</mat-icon>
</div>

<div class="section-content">
  <mat-icon class="gold">account_box</mat-icon>
  <ul>
    <li>ID: SH051545</li>
    <li>Tier: Gold</li>
    <li>Pts: 125,024</li>
  </ul>
</div>

<div class="section-header">
  <span>Top 3 Facts</span>
  <mat-icon>launch</mat-icon>
</div>

<div class="section-content">
  <mat-icon>info</mat-icon>
  <ul>
    <li>Suite Room</li>
    <li>King Bed</li>
    <li>Highest Floor</li>
  </ul>
</div>

<div class="section-header">
  <span>RFM Score</span>
  <mat-icon>launch</mat-icon>
</div>

<div class="section-content percentage">
  <div class="spinner">
    <mat-progress-spinner value="80" diameter="35" strokeWidth="4"></mat-progress-spinner>
    <span>80%</span>
  </div>
  <span>R: 70%</span>
  <span>F: 50%</span>
  <span>M: 90%</span>
</div>

<div class="section-header">
  <span>Other Facts:</span>
  <mat-icon>launch</mat-icon>
</div>

<div class="section-content facts-grid">
  <div class="facts-grid">
    <div>
      <span>
        <mat-icon>calendar_today</mat-icon>
      </span>
      <span>Total Stays:</span>
      <span>24</span>
    </div>
    <div>
      <span>
        <mat-icon>brightness_2</mat-icon>
      </span>
      <span>Nights Stays:</span>
      <span>32</span>
    </div>
    <div>
      <span>
        <mat-icon>timelapse</mat-icon>
      </span>
      <span>Average Stay:</span>
      <span>1.33 nights</span>
    </div>
    <div>
      <span>
        <mat-icon>schedule</mat-icon>
      </span>
      <span>Last Visit:</span>
      <span>2018-08-15</span>
    </div>
    <div>
      <span>
        <mat-icon>attach_money</mat-icon>
      </span>
      <span>Lifetime Value:</span>
      <span>$3084.29</span>
    </div>
  </div>
</div>
